/.VertragDescriptionLabelProvider.java._trace
/.VertragDescriptionLabelProvider.xtendbin
/.VertragLabelProvider.java._trace
/.VertragLabelProvider.xtendbin
/VertragDescriptionLabelProvider.java
/VertragLabelProvider.java
